<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Hotel Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Royal Luxury Stay - Online Booking Smart Responsive HTML5 Template">
    <meta name="keywords" content="accommodation,apartment,B&B,bed and breakfast,booking,hostel,inn,motel,reservation,reservation form,resort,responsive,spa,travel,bootstrap,cruise,flights,holiday,hotel,html5 template,online booking,real estate,rentals,tour,tourism,uber">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="apple-touch-icon" sizes="180x180" href="../../static/app/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/app/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/app/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="../../static/app/images/favicons/manifest.json">
    <link rel="mask-icon" href="../../static/app/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <!-- CSS Files ================================================== -->
    <link rel="stylesheet" type="text/css" href="../../static/app/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../static/app/css/bootstrap-select.min.css" />
    <link rel="stylesheet" type="text/css" href="../../static/app/css/jquery-ui-date.css">
    <link rel="stylesheet" type="text/css" href="../../static/app/css/form-wizard.css">
    <link rel="stylesheet" type="text/css" href="../../static/app/css/color.css" />
    <link rel="stylesheet" type="text/css" href="../../static/app/css/style.css" />

    <!-- Javascript Files ================================================== -->
    <script type="text/javascript" src="../../static/app/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/app/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/app/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="../../static/app/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="../../static/app/js/jquery-ui-date.js"></script>
    <script type="text/javascript" src="../../static/app/js/jquery-ui.js"></script>
    <script type="text/javascript" src="../../static/app/js/slick.min.js"></script>
    <!-- Date Javascript Files -->
    <script type="text/javascript" src='../../static/app/js/moment.min.js'></script>
    <script type="text/javascript" src='../../static/app/js/fullcalendar.js'></script>
    <!-- Theme Functions -->
    <script type="text/javascript" src="../../static/app/js/form-wizard.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="../../static/app/js/themefunction.js"></script>
    <script type="text/javascript" src="../../static/app/js/valid-date.js"></script>
	<script type="text/javascript" language="javascript">  
        function disableBackButton()
        {
            window.history.forward()
        } 
        disableBackButton(); 
        window.onload=disableBackButton(); 
        window.onpageshow=function(evt) { if(evt.persisted) disableBackButton() } 
        window.onunload=function() { void(0) } 
    </script>
    <script>
    $(document).ready(function(){
        $("booknow").hover(function(){
            $(this).css("background-color", "#32CD32");
        },
            function () {
            $(this).css("background-color", "#0E2646");
            });
    });
</script>
    <style>
        .invoice{
  width:970px !important;
  margin:50px auto;
  .invoice-header{
    padding:25px 25px 15px;
    h1{
      margin:0
    }
    .media{
      .media-body{
        font-size:.9em;
        margin:0;
      }
    }
  }
  .invoice-body{
    border-radius:10px;
    padding:25px;
    background:#FFF;
  }
  .invoice-footer{
    padding:15px;
    font-size:0.9em;
    text-align:center;
    color:#999;
  }
}
.logo{
  max-height:70px;
  border-radius:10px;
}
.dl-horizontal{
  margin:0;
  dt{
        float: left;
    width: 80px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  dd{
    margin-left:90px;
  }
}
.rowamount{
  padding-top:15px !important;
}
.rowtotal{
  font-size:1.3em;
}
.colfix{
  width:12%;
}
.mono{
  font-family:monospace;
}
    </style>
</head>

<body onload="noBack();">
    {% block body %}
    <!-- Header Begin -->
    {% include 'includes/_navbar.html' %}
    <!-- Header Close -->
    <section class="rh-check-availability">
            <img src="../../static/app/images/event/event-background.jpg" alt="1">
    </section>
    <!-- Main Content Begin -->
    <div class="rh rh-100 section-booking">
        <!-- Booking Page Begin -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-wizard">
                        <div class="form-wizard-steps form-wizard-tolal-steps-4">
                            <div class="form-wizard-progress">
                                <div class="form-wizard-progress-line" data-now-value="49" data-number-of-steps="4" style="width: 98%;"></div>
                            </div>
                            <!-- Step 1 -->
                            <div class="form-wizard-step active">
                                <div class="form-wizard-step-icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                <p>Choose Your Date</p>
                            </div>
                            <!-- Step 1 -->
                            <!-- Step 2 -->
                            <div class="form-wizard-step active">
                                <div class="form-wizard-step-icon"><i class="fa fa-building-o" aria-hidden="true"></i></div>
                                <p>Choose Your Room</p>
                            </div>
                            <!-- Step 2 -->
                            <!-- Step 3 -->
                            <div class="form-wizard-step active">
                                <div class="form-wizard-step-icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
                                <p>Reservation</p>
                            </div>
                            <!-- Step 3 -->
                            <!-- Step 4 -->
                            <div class="form-wizard-step active">
                                <div class="form-wizard-step-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                                <p>Confirmation</p>
                            </div>
                            <!-- Step 4 -->
                        </div>
                        <fieldset>
                            <section class="rh rh-100 rh-ournews">
            <div class="container">
                <div class="row">
                    <!-- ournews & Events Title -->
                    <div class="col-lg-12 col-md-12">
                        <div class="rh-section-title">
                            <h2><b>Thank you for choosing us</b></h2>
                            <p> <h2>Invoice</h2>
                            <h4>{{billno}}</h4></p>
                        </div>
                    </div>
                </div>
  <div class="invoice-body">
    <div class="row">
      <div class="col-xs-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Company Details</h3>
          </div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Name</dt>
              <dd><strong>Acme Corporation</strong></dd>
              <dt>Industry</dt>
              <dd>Software Development</dd>
              <dt>Address</dt>
              <dd>Field 3, Moon</dd>
              <dt>Phone</dt>
              <dd>123.4456.4567</dd>
              <dt>Email</dt>
              <dd>mainl@acme.com</dd>
              <dt>Tax NO</dt>
              <dd class="mono">123456789</dd>
              <dt>Tax Office</dt>
              <dd>A' Moon</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-xs-7">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Customer Details</h3>
          </div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Name</dt>
              <dd>Microsoft Corporation</dd>
              <dt>Industry</dt>
              <dd>Software Development</dd>
              <dt>Address</dt>
              <dd>One Microsoft Way Redmond, WA 98052-7329, USA</dd>
              <dt>Phone</dt>
              <dd>(425) 882-8080</dd>
              <dt>Email</dt>
              <dd>contact@microsoft.com</dd>
              <dt>Tax NO</dt>
              <dd class="mono">123456789</dd>
              <dt>&nbsp;</dt>
              <dd>&nbsp;</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Travel Itinerary</h3>
      </div>
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>Details</th>
            <th class="text-center colfix">Check In</th>
            <th class="text-center colfix">Check Out</th>
            <th class="text-center colfix">Number of rooms</th>
            <th class="text-center colfix">Tax</th>
            <th class="text-center colfix">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Lorem Ipsum Dolor
              <br>
              <small class="text-muted">The best lorem in town, try it now or leave forever</small>
            </td>
            <td class="text-right">
              <span class="mono">$1,000.00</span>
              <br>
              <small class="text-muted">Before Tax</small>
            </td>
            <td class="text-right">
              <span class="mono">$18,000.00</span>
              <br>
              <small class="text-muted">18 Units</small>
            </td>
            <td class="text-right">
              <span class="mono">- $1,800.00</span>
              <br>
              <small class="text-muted">Special -10%</small>
            </td>
            <td class="text-right">
              <span class="mono">+ $3,240.00</span>
              <br>
              <small class="text-muted">VAT 20%</small>
            </td>
            <td class="text-right">
              <strong class="mono">$19,440.00</strong>
              <br>
              <small class="text-muted mono">$16,200.00</small>
            </td>
          </tr>

          <tr>
            <td>
              Sit Amet Dolo
              <br>
              <small class="text-muted">Now you may sit</small>
            </td>
            <td class="text-right">
              <span class="mono">$120.00</span>
              <br>
              <small class="text-muted">Before Tax</small>
            </td>
            <td class="text-right">
              <span class="mono">$240.00</span>
              <br>
              <small class="text-muted">2 Units</small>
            </td>
            <td class="text-right">
              <span class="mono">- $0.00</span>
              <br>
              <small class="text-muted">-</small>
            </td>
            <td class="text-right">
              <span class="mono">+ $72.00</span>
              <br>
              <small class="text-muted">VAT:20% S:10%</small>
            </td>
            <td class="text-right">
              <strong class="mono">$312.00</strong>
              <br>
              <small class="text-muted mono">$240.00</small>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
      <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">General Terms and Conditions</h3>
            </div>
          <div class="panel-body">
              <ul class="a">
                  <li><b>1.</b> The primary guest must be at least 18 years of age to be able to check into the hotel.</li>
                <li><b>2.</b> It is mandatory for guests to present valid photo identification at the time of check-in. According to government regulations, a valid Photo ID has to be carried by every person above the age of 18 staying at the hotel. The identification proofs accepted are Aadhar Card,
                  Driving License, Voter ID Card, and Passport.
                  Without Original copy of valid ID the guest will not be allowed to check-in.</li>
                <li><b>3.</b> PAN card is not accepted as a valid ID card.</li>
                <li><b>4.</b> Stay of 1 child up to 5 years of age is complementary without the use of extra mattress.
                  Breakfast charges may be applicable for the child.</li>
              </ul>
          </div>
          </div>
        </div>
      </div>
    </div>
                </section>

  </div>

</div>
                </div>
            </div>
                        </fieldset>
                            
                </div>
            </div>
        </div>
        <!-- Booking Page Close -->
    </div>
    <!-- Main Content Close -->
    <div class="rh section-booking">        
        <!-- About Royal Hotel Begin -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="rh-detail-right">
                        <div class="row rh-flex">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <!-- Need Royal Help? Begin -->
                                <div class="rh-need-help">
                                    <h5>Need Help?</h5>
                                    <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                                    <a href="tel:+919173495648">917 349 5648</a>
                                </div>
                                <!-- Need Royal Help? Close -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Royal Hotel Close -->
    </div>

    <!-- Footer Begin -->
    {% include 'includes/_footer.html' %}
    <!-- Footer Close -->

    <!-- Backe To Top Begin -->
    <div id="back_to_top" class="active">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>
    <!-- Backe To Top Close -->
    {% endblock %}
</body>

</html>
